@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#Counter {
	background-color: #DCE5DE;
}
body.transform {
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg); 
}

#Tips {
	padding-top: 80px;
}
.alert {
	margin: 0;
	padding: 0;
	border: none;
}
.tight{
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    maring-right: 0 !important;
    
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}
.debugging{
	padding-top:6em !important;

}

#statusWrapper {
	position: absolute;
	margin: 0;
	width: 100%;
	padding: 0;
}
#floatingStatus {
	opacity: 0.95;
	position: absolute;
	margin: 0;
	z-index: 99;
	width: 100%;
	padding-bottom: .2em;
	border-bottom: thin solid #9fccb5;
}
#floatingStatus.fixed {
	margin-top: 50px;
	margin-left: 0;
	margin-bottom: 0;
	position: fixed;
	top: 0;
}
.counterTitle {
	padding-top: 1.5em;
}
.total {
	padding: 0;
	margin: 0;
}
.progressPercent{
    padding-right: .2em;

}
.progress-bar {
    display: block;
    height: 28px;
    background-color: #9fccb5;
	float: right;
}
.bar-background{
    margin-bottom:0;
    background-color: white;
}
input.count {
	width: 50px;
}
#maxNum {
	width: 50px;
	height: 26px;
}
.monoFont {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
}
dt {
	font-size: 16px;
	text-decoration: underline;
}
.keylist {
	font-size: 16px;
	text-decoration: underline;
}
dd {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
#help p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
div.infoform {
	display: none;
}
div.counter {
	background-color: transparent;
}
th,td {
    margin: 0 !important;
}
.hiddenTillPrint {
	display: none;
}
table{
    table-layout: fixed !important;   
}
.keyMap{
	padding-right: .5em !important;
	padding-left: .5em !important;
}
@media print {
	.progress {
		background-color: #F5F5F5 !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F5F5F5', endColorstr='#F5F5F5')" !important;
	}
	.progress-bar-theme {
		background-color: #F5F5F5 !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F5F5F5', endColorstr='#F5F5F5')" !important;
	}
	.progress,
	.progress > .progress-bar {
		display: block !important;
		-webkit-print-color-adjust: exact !important;
		box-shadow: inset 0 0 !important;
		-webkit-box-shadow: inset 0 0 !important;
	}
	.nonPrintable {
		display: none;
	}
	.hiddenTillPrint {
		display: inline;
	}
	.counter {
		width: 100%;
	}
	.alert {
		border: 0;
	}
	.btn {
		display: none;
	}
	#floatingStatus {
		margin-top: 0;
		margin-left: 0;
		margin-bottom: 0;
		border-bottom: none;
		position: fixed;
		top: 0;
	}
	.progress-bar-theme {
		border-width: 1px;
		border-style: solid;
	}
	.printBar {
		width: 70%;
	}
	.printForm {
		width: 30%;
	}
	.printPercent {
		width: 10%
	}
	.printProgressBar {
		width: 90%;
	}
}