{% extends "beta/layout.html" %} {% block body %}
    <!-- +++++ Welcome Section +++++ -->
    <div class="modal fade out nonPrintable" tabindex="-1" role="dialog" aria-labelledby="finishedModal" aria-hidden="true" id="finishedModal">
        <div class="modal-dialog modal-lg">
            <div class="model model-content">
                <div class="modal-header">
                    <h2> You've finished!</h2>
                </div>
                <div class="modal-body centered">
                    <div>
                        You've finished your count. What would you like to do next?
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default hideModalButton">
                    <i class="fa fa-bar-chart-o fa-rotate-270"></i> Review results</button>
                    <button class="btn btn-default btn-warning showResetWarningButton">
                    <i class="fa fa-undo"></i> New diff</button>
                    <button class="btn btn-default printButton">
                    <i class="fa fa-print"></i> Print</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade out nonPrintable" tabindex="-1" role="dialog" aria-labelledby="resetWarningModal" aria-hidden="true" id="resetWarningModal">
        <div class="modal-dialog modal-lg">
            <div class="model model-content">
                <div class="modal-header">
                    <h2>
                    Annoying Confirmation Alert!
                    </h2>
                </div>
                <div class="modal-body centered">
                    <div>
                        Are you sure you want start over? This diff will be lost for all eternity.
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn hideModalButton">
                    <i class="fa fa-bar-chart-o fa-rotate-270"></i> Keep Results</button>
                    <button class="btn btn-warning resetButton">
                    <i class="fa fa-eraser"></i> Delete and start over.</button>
                </div>
            </div>
        </div>
    </div>
    <section id="1" class="home nonPrintable">
        <div id="ww" class="nonPrintable banner">
            <div class="container">
                <div class="row animated">
                    <div class="col-lg-8 col-lg-offset-2 centered">
                        <h1>
                        <img id="spin" src="{{ url_for('static', filename='img/header.png')}}?v={{fileVersions['static/img/header.png']}}" alt="soo realistic" class="img-responsive centered ee">
                        </h1>
                        <p class="ee">This app was built to help Medical Laboratory Science students practice differentials. It works best using the 10 key pad. If you have any questions just click the "Tips" link at the top of the page, or scroll down.</p>
                        <p class="ee">
                            <u>IMPORTANT:</u>This is for practice purposes only, not intended for clinical differentials. There are known, and possibly unknown mathematical errors in how relative values are calculated (rounding errors: see below.) Please
                            double check any values you get.
                        </p>
                    </div>
                    <!-- /col-lg-8 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /ww -->
    </section>

<!--[if lt IE 9]>

    <div id="" class="alert alert-danger">
        <a href="" class="close" id="iewarningclose" data-dismiss="alert"><i class="fa fa-times-circle"></i></a>
        <p class="text-center">
            You're using IE8, it's less reliable than the osmometer on a humid day. Use <a href="https://www.google.com/chrome/browser/">Chrome</a> and all your problems will be solved.
        </p>
    </div>


<![endif]-->





    <div id="statusWrapper" class="container-fluid">
        <div class="row">
            <div id="floatingStatus" class="container-fluid mt centered alert shadow-z-2">
                <div class="col-sm-3 counted tight"><h3 class="counted ee tight statusInfo">Counted: <span id="total" class="counted">0</span></h3>
            </div>
            <div class="col-sm-6 hiddenTillPrint"></div>
            <div class="col-sm-6 nonPrintable">
                <div class="tight">
                    <div id="fixMe" hidden>
                        <button type="button" class="btn btn-default btn-primary" id="fixMeBtn">Fix Me!!!</button>
                    </div>
                    <div id="ready" class="alert alert tight changeable ee statusAlert">
                        <div class="alertMessage">Ready to go</div>
                    </div>
                    <div id="UEO" class="alert alert-success tight changeable ee statusAlert" hidden>
                        <div class="alertMessage">Urine Eosinophil mode</div>
                    </div>
                    <div id="done" class="alert alert-success tight changeable ee statusAlert" hidden>
                        <div class="alertMessage">Finished!</div>
                    </div>
                    <div id="subtract" class="alert alert-danger tight changeable ee statusAlert" hidden>
                        <div class="alertMessage">Subtracting</div>
                    </div>
                    <div id="edit" class="alert alert-warning changeable tight ee statusAlert" hidden>
                        <div class="alertMessage">Edit Mode</div>
                    </div>
                    <div id="wylajb" class="alert alert-success tight alert-dismissable ee statusAlert" hidden>
                        <div class="alertMessage">konami mode: oh noes</div>
                    </div>
                    <div id="debug" class="alert alert-warning tight debug ee" hidden></div>
                </div>
                <div id="totalProgressDiv" class="progress tight">
                    <span id="totalProgress" class="progress-bar progress-bar-material-indigo"></span>
                </div>
            </div>
            <div class="col-sm-3 counted tight">
                <h3 class="counted ee tight statusInfo">Remaining: <span id="toGo" class="counted">100</span></h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row centered">
        <div class="panel panel-default col-md-10 col-md-offset-1 centered">
            <div class="panel-body">
                <div class="col-xs-12 centered">
                    <h1 class="counterTitle ee centered" id="countTitle">Diff-o-meter</h1>
                </div>
                <div class="col-xs-12 centered">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-raised changeCount btn-material-indigo-300" value="100">100</button>
                        <button type="button" class="btn btn-default btn-raised changeCount" value="200">200</button>
                        <button type="button" class="btn btn-default btn-raised changeCount" value="300">300</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default countType btn-material-indigo-300" id="toggleCountType" value="Diff">Diff</button>
                        <button type="button" class="btn btn-default countType" id="toggleCountType" value="UEO">UEO</button>
                    </div>
                </div>
                <div class="col-xs-12 centered">
                    <!-- <div class="btn-group"> -->
                    <button type="button" class="btn btn-sm btn-raised" onclick="toggleSubtract('toggle');">&nbsp;
                    <i class="fa fa-minus" id="subtractButton"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-raised" onclick="toggleDisableX3();">
                    <i class="fa fa-lock" id="lockButton"></i> Edit</button>
                    <button type="button" class="btn btn-sm btn-raised showResetWarningButton">
                    <i class="fa fa-eraser"></i> Reset</button>
                    <button type="button" class="btn btn-sm btn-raised printButton">
                    <i class="fa fa-print"></i> Print</button>
                    <!-- </div> -->
                </div>
                <div class="row mt ee">
                    <div class="col-sm-12 differentialName " id="safeFocus">
                        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 centered">
                            <div class="form-group form-group-material-indigo-800">
                                <input type="text" id="diffName" class="form-control floating-label input-lg" placeholder="Name this differential" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-offset-1">
                        <div class-"">
                        <table class="table table-striped table-hover table-condensed">
 <!--                            <thead>
                                <tr>
                                    <th class-"bar-graph-cell">Graph</th>
                                    <th class="percentage-cell">%</th>
                                    <th class="input-cell">abs</th>
                                    <th class-"label-cell">Cell</th>
                                </tr>
                            </thead> -->
                            <tbody>
                                {% for cell in cells %}
                                <tr class="{{cells[cell]['abrev']}}{% if cells[cell]['abrev'] != 'eos' %}{% if cells[cell]['abrev'] != 'other' %} notUEO {% endif %}{% endif %}animated cellRow" id="tableROW">
                                    <td class="bar-graph-cell">
                                        <div class="progress bar-background">
                                            <div id="{{cells[cell]['abrev']}}Prog" class="vcenter progress-bar progress-bar-material-indigo">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="percentage-cell">
                                        <div class="text-right">
                                            <span class="progressPercent" id='{{cells[cell]["abrev"]}}ProgText'>0%</span>
                                        </div>
                                    </td>
                                    <td class="input-cell">
                                        <div class="form-group form-group-material-indigo-800">
                                            <input type='text' id="{{cells[cell]['abrev']}}" value='' class="countInput form-control input-sm" readOnly>
                                        </div>
                                    </td>
                                    <td class="label-cell">
                                        <div class="" id="{{cells[cell]['abrev']}}Label">{{cell}} ({{cells[cell]["key"]}})</div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="container-fliud nonPrintable">
<div id="Tips" class="row">
<div class="pt" id="help">
    <div class="col-xs-12 mt">
        <div class="col-lg-8 col-lg-offset-2 centered ee">
            <h1>Tips and Tricks</h1>
        </div>
    </div>
    
    <div class="col-xs-12 mt">
        <div class="col-md-4 centered ee">
            <i class="fa fa-cogs fa-5x fa-theme"></i>
            <h3>How do I use this fancy thing?</h3>
        </div>
        <div class="col-md-4 centered">
            <i class="fa fa-keyboard-o fa-5x fa-theme"></i>
            <h3>Keyboard layout</h3>
        </div>
        <div class="col-md-4 centered">
            <i class="fa fa-bug fa-5x fa-theme"></i>
            <h3>Normalization issues</h3>
        </div>
    </div>
    <div class="col-xs-12 mt">
        <div class="col-md-4 ee">
            <dl>
                <dt>Subtract cells</dt>
                <dd>
                <p>Press the "-" key or button to start subtracting cells. Press the "+" key or button to resume.</p>
                </dd>
                <dt>Manual edit</dt>
                <dd>
                <p>Press the "E" key or the "Edit" button to manually change the counts, press it again to resume. The
                <i class="fa fa-unlock"></i> icon on the edit button indicates you're in "Edit Mode"</p>
                </dd>
                <dt>Differential Name</dt>
                <dd>
                <p>In edit mode the name field is editable, when enter is pressed Diff-o-matic will exit edit mode.</p>
                </dd>
                <dt>Urine Eosinophils</dt>
                <dd>
                <p>
                Pressing the "UEO" button will put you into Urine Eos mode. This allows you to do a 200 cell count with eosinophils and others. The keymapping will change to the 2 key and 3 key, respectively. to switch back to differential mode press the "Diff" button.</p>
                </dd>
                <dt>Count more cells</dt>
                <dd>
                <p>This counter will let you count 100, 200 or 300 cells. For differentials, the default is 100. Urine eosinophils are set up to count 200 cells.
                </p>
                </dd>
            </dl>
        </div>
        <div class="col-md-4 ee">
            <table class="table tight table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-6 tight text-right">Cells</th>
                        <th class="col-md-1"></th>
                        <th class="col-md-5 tight text-left">Keys</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cell in cells %}
                        <tr class="tight">
                            <td class="tight text-right">{{cell}}</td>
                            <td class="tight text-center">
                                <i class="fa fa-angle-double-right  fa-list"></i>
                            </td>
                            <td class="tight text-left">{{cells[cell]["key"]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <hr> -->
            <ul class="fa-ul ee">
                <strong class="keylist">Modes</strong>
                <li>
                    <span class="monoFont">R </span>
                    <i class="fa fa-angle-double-right  fa-list"></i>Reset form
                </li>
                <li>
                    <span class="monoFont">E </span>
                    <i class="fa fa-angle-double-right  fa-list"></i>Edit Mode
                </li>
                <li>
                    <span class="monoFont">D </span>
                    <i class="fa fa-angle-double-right  fa-list"></i>Debug Mode
                </li>
            </ul>
        </div>
        <div class="col-md-4 ee">
            <dl>
                <dt>What is this?</dt>
                <dd>
                <p>The progress bars to the right were designed to give normalized percentages for 200 cell counts. Using cutting edge mathematical formulas, advanced super computing power and an old magic eight ball, the Diff-o-Matic is capable
                    of providing that value in real time!
                </p>
                </dd>
                <dt>DISCLAIMER:</dt>
                <dd>
                <p>In standard rounding rules it is common for numbers ending in 5 to be rounded up. However, because n.5 is exactly between its nearest integers, always rounding up will create a positive bias.</p>
                <p>In order to correct that bias the Diff-o-Matic uses a
                    <strong>Round to Even </strong>method. This will round any number ending in .5 to the nearest even integer (e.g. 2.5 -> 2 .)
                </p>
                <p>Unfortunately, this will cause relative values of 0.5 to be rounded down to 0. The worlds top engineers, scientists, and barista have been working on this issue around the clock, a patch will be released shortly.</p>
                </dd>
            </dl>
        </div>
    </div>
    <!-- /row -->
</div>
</div>
</div>
{% endblock %}