{% extends "beta/layout.html" %} {% block body %}
	<input type="hidden" autofocus="true">
	<div class="panel panel-default centered">
		<div class="panel-body">
			<h1 class="welcome">Welcome to <strong>D<i class="fa fa-flask"></i>ftscience</strong>.com</h1>
			<p>
				Here you can find a few of my recent projects. Most of them, along with this site, are still works in progress.
			</p>
		</div>
	</div>
	<div class="content">
		<div class="col-xs-12 container">
			<div class="panel panel-material-indigo-300" id="Diff-Counter">
				<div class="panel-heading centered">
					<h1>Daftscience <i class="fa fa-globe fa-green"></i> Diffcounter </h1>
				</div>
				<div class="panel-body">
					<div class="col-md-8 col-md-offset-2">
						<a href="http://daftscience.com/counter">
							<img id="diffcounterIMG" src="{{url_for('static', filename='img/header.png')}}" class="img-responsive">
						</a>
					</div>
					<div class="row mt">
						<div class="col-md-8 col-md-offset-2">
							<p class="indent">
								The goal was to make a web based differential counter for students of biomedical science that was not only easy to use, but that would emulate software used in a clinical setting. Recently, the focus has been on modularization. The templates were built
								using <a href="http://http://flask.pocoo.org/">Flask</a> and some json files. By modifying the json files it is possible to change not only the layout of the pages, but the keymapping as well. While the original goals have been met, there are still
								a few more features that are in the works.
							</p>
						</div>
						<!-- /row -->
					</div>
				</div>
			</div>
		</div>
		<!-- /container -->
		<div class="col-xs-12 container">
			<div class="panel panel-material-indigo-300"  id="Builds">
				<div class="panel-heading centered">
					<i class="fa fa-wrench fa-5x"></i>
					<h1>a <strong>few</strong> of my <strong>builds</strong></h1>
				</div>
				<!-- /row -->
				<div class="panel-body centered">
					<div class="row centered">
						<div class="col-md-6 projectColumn centered">
							<img src="{{url_for('static', filename='img/rostock.jpg')}}" alt="" class="printerProject img-responsive">
							<h4>RostockMax</h4>
						</div>
						<div class="col-md-6 projectColumn centered">
							<img src="{{url_for('static', filename='img/prusai3.jpg')}}" alt="" class="printerProject img-responsive">
							<h4>Prusa i3</h4>
						</div>
					</div>
					<div class="row mt">
						<div class="col-md-6">
							<p class="indent">
								The RostockMax is a delta robot 3d printer designed by SeeMeCNC. The three arm design allows this printer to have a combination of speed, build volume, precision and accuracy that (at the time it was made) was not easy to replicate with a standard cartesian
								printer. However, the design also makes this printer more difficult to build and calibrate.
							</p>
						</div>
						<!--/col-lg-4 -->
						<div class="col-md-6">
							<p class="indent">
								The Prusa i3 (iteration 3), designed by Josef Prusa, is the third 3d printer in the Prusa line of printers. It's an H-frame cartisian printer with a simple design that is both easy to build and calibrate. However, the build volume is much smaller, and
								single plate design makes it unstable at higher speeds (box framed versions compensate for this.)
							</p>
						</div>
					
						<!--/col-lg-4 -->
					</div>
					<!-- /row -->
				</div>
			</div>
		</div>
		<!-- /container -->
		<div class="col-xs-12 container">
			<div class="panel panel-material-indigo-300" id="Prints">
				<div class="panel-heading centered">
					<h1><strong>2d </strong>pictures of <strong>3d</strong> things</h1>
					<h4>
					Here are the latest things I've printed.
					</h4>
				</div>
				<div class="panel-body">
					<div class="col-xs-12 centered">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="col-xs-4 showPrint"> prints </div>
							<div class="col-xs-4 showPrint"> prusa </div>
							<div class="col-xs-4 showPrint"> rostock </div>
						</div>
						<div class="col-xs-12">
							<div id="links">
								{% for image in gallery %}{% if image %}<a href="{{ url_for('static', filename='%s' % image.loc)}}" title="{{image.cat}}" class="{{image.cat}}" data-gallery><img src="{{ url_for('static', filename='%s' % image.thumbLoc)}}" alt="{{image.cat}} "></a>{% endif %}{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 container">
			<div class="panel panel-material-indigo-300" id="Prints">
				<div class="panel-heading centered">
					<h1>
					Watch <strong>it </strong>print.
					</h1>
					<h4>
					Here is a quick timelapse of my RostockMax in action.
					</h4>
				</div>
				<div class="panel-body">
					<div class="shadow-z-2 embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3f1wwZh_YOI"></iframe>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		<div class="col-xs-12 container">
			<div class="panel panel-material-indigo-300" id="About">
				<div class="panel-heading centered">
					<h1>about <strong>me</strong></h1>
					<h2>and <strong>how </strong> to get in touch...</h2>
				</div>
				<!-- /row -->
				<div class="panel-body centered">
					<div class="col-lg-12">
						<h3>Tom Perry</h3>
						<img class="img-circle" id="myPicture" src="" width="140" alt="">
						<h3 id="tagline"></h3>
						<h4 id="occupation"></h4>
					</div>
					<div class="row mt centered">
						<div class="col-lg-4 col col-lg-offset-4">
							<hr>
							<h3>follow me <strong>on</strong>:</h3>
							<a href="https://facebook.com/daftscience" target="_blank">
								<i class="fa fa-facebook-square fa-2x"></i>
							</a>
							<a href="https://plus.google.com/+TomPerrydaftscience" target="_blank">
								<i class="fa fa-google-plus-square fa-2x"></i>
							</a>
							<a href="https://github.com/daftscience" target="_blank">
								<i class="fa fa-github-square fa-2x"></i>
							</a>
							<a href="https://www.youtube.com/channel/UC6L8ZsIdPXXth0x2mEF6_BQ" target="_blank">
								<i class="fa fa-youtube-square fa-2x"></i>
							</a>
							<a href="https://twitter.com/daftscience" target="_blank">
								<i class="fa fa-twitter-square fa-2x"></i>
							</a>
						</div>
						<!--/col-lg-4 -->
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-12 container">
				<div class="panel panel-material-indigo-300"  id="Contact Me">
					<div class="panel-heading centered">
						<h1>contact <strong>me</strong></h1>
					</div>
					<div class="panel-body">
						{% if sent %}
							<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
								<div class="bs-callout bs-callout-theme">
									<h3>Thank you {{ name }} </h3>
									<p>Your message has been sent.</p>
								</div>
							</div>
						{% endif %}
						<div class="col-xs-12">
							<div class="col-sm-4">
								<h3>drop a line</h3>
								<hr>
								<address>
									<strong>Email: </strong>
									<a href="mailto:#">info@daftscience.com</a>
									<br>
									<br>
									<strong>Phone: </strong>(858) 432-3884
								</address>
							</div>
							<form id="contact" method="post" class="form" action="{{ url_for('.index') }}">
								<div class="col-sm-8 contact-form">
									<div class="col-xs-6 form-group">
										<input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
									</div>
									<div class="col-xs-6 form-group">
										<input class="form-control" id="email" name="email" placeholder="email" type="email" required />
									</div>
									<div class="col-xs-12">
										<textarea class="form-control" id="message" name="message" placeholder="Message" rows="5" value=""></textarea>
										<br />
									</div>
								</div>
								<div class="col-xs-12 col-md-12 form-group">
									<button class="btn btn-material-indigo-300 pull-right" type="submit">Submit</button>
								</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
	<!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
	<!--This is more stuff for the gallery                -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="{{url_for('static', filename='js/blueimp-gallery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/blueimp-gallery-youtube.js')}}"></script>
	<script src="{{url_for('static', filename='js/blueimp-gallery-video.js')}}"></script>
	<script src="{{url_for('static', filename='js/blueimp-gallery-fullscreen.js')}}"></script>
	<script src="{{url_for('static', filename='js/blueimp-gallery-indicator.js')}}"></script>
	<script>
		document.getElementById('links').onclick = function(event) {
			event = event || window.event;
			var target = event.target || event.srcElement,
				link = target.src ? target.parentNode : target,
				options = {
					index: link,
					event: event
				},
				links = this.getElementsByTagName('a');
			var options = {
				hidePageScrollbars: false,
				disableScroll: false
			}
			blueimp.Gallery(links, options);
		};
	</script>
	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
		<div class="slides"></div>
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>
{% endblock %}