{% extends "layout.html" %} {% block body %}
<!-- +++++ Welcome Section +++++ -->
<section id="1" class="home nonPrintable">
	<div id="ww" class="nonPrintable banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>

						<img id="spin" src="{{ url_for('static', filename='img/header_0.10.png')}}" alt="soo realistic" class="img-responsive centered">

					</h1>
					<p>This app was built to help Medical Laboratory Science students practice differentials. It works best using the 10 key pad. If you have any questions just click the "Tips" link at the top of the page, or scroll down.</p>
					<p>
						<u>IMPORTANT:</u>This is for practice purposes only, not intended for clinical differentials. There are known, and possibly unknown mathematical errors in how relative values are calculated (rounding errors: see below.) Please double check any values you get.
					</p>
				</div>
				<!-- /col-lg-8 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /ww -->
</section>
<!-- +++++ Differential Section +++++ -->

<div id="statusWrapper" class="container">
	<div id="floatingStatus" class="row mt centered alert alert-success">
		<div class="col-sm-3 counted">
			<h3 class="counted">Counted:
				<span id="total" class="counted">0</span>
			</h3>
		</div>
		<div class="col-sm-6 hiddenTillPrint"></div>
		<div class="col-sm-6 nonPrintable">
			<div id="ready" class="alert alert-success changeable">
				<p>Ready to go</p>
				If you have questions or need help scroll down to see the help section.
			</div>
			<div id="UEO" class="alert alert-success changeable" hidden>
				<p>Urine Eosinophil mode</p>
				start your diff!
			</div>
			<div id="done" class="alert alert-success changeable" hidden>
				<p>Finished!</p>
				Hit 'R' to reset, or Ctrl+P to print.<br>
			</div>
			<div id="subtract" class="alert alert-danger changeable" hidden>
				<p>Subtrating</p>
				Buttons will now subtract, hit '+' to resume diff.<br>
			</div>
			<div id="edit" class="alert alert-warning changeable" hidden>
				<p>Edit Mode</p>
				Change the title or percentages, hit 'E' to resume diff. <p> </p>
			</div>
			<div id="wylajb" class="alert alert-success alert-dismissable" hidden>
				<p>konami mode:</p>
				What have you done?!
			</div>
			<div id="debug" class="alert alert-warning debug" hidden></div>
			<div id="numlock" class="alert alert-danger alert-dismissable" hidden>
				<p>whoa, hang on a sec...</p>
				That was close, you have to turn the number lock on before you start counting. It's usually somewhere above the 7 key.
			</div>
		</div>
		<div class="col-sm-3 counted">
			<h3 class="counted">Remaining:
				<span id="toGo" class="counted">100</span>
			</h3>
		</div>
	</div>
</div>





<div id="Counter" class="container-fluid counter">
	<section class="counter">
		<div class="row centered counter">
			<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<h1 class="counterTitle shadowed" id="countTitle">Electronic Diff-o-matic</h1>
			</div>
		</div>
		<div class="row centered counter">
			<!--			<div class="center-block">-->
			<div class="pagination">
				<div class="btn-toolbar text-center">
					<div class="btn-group">
						<button type="button" class="btn btn-default" id="changeCountTo">100</button>
						<button type="button" class="btn btn-default" id="toggleCountType">UEO</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-warning" onclick="toggleSubtract('toggle');">
							<i class="fa fa-minus" id="subtractButton"></i></button>
						<button type="button" class="btn btn-default btn-warning" onclick="toggleDisableX3();">
							<i class="fa fa-lock" id="lockButton"></i> Edit</button>
						<button type="button" class="btn btn-default btn-danger" onclick="resetForm();">
							<i class="fa fa-eraser"></i> Reset</button>
						<button type="button" class="btn btn-default btn-primary" id="printButton">
							<i class="fa fa-print"></i> Print</button>
					</div>
				</div>
			</div>
			<!--			</div>-->
		</div>
		<div class="row mt centered counter">
			<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<div class="input-group input-group-lg">
					<span class="input-group-addon">
						<i class="fa fa-barcode" id="safeFocus" onclick="toggleDisableX3();"></i>
					</span>
					<input type="text" id="diffName" class="form-control" placeholder="Differential I.D." disabled>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<table class="table tight diffTable">
				{% for cell in cells %}
				<tr class="tight {{cells[cell]}}{% if cells[cell] != 'eos' %}{% if cells[cell] != 'other' %} notUEO{% endif %}{% endif %}" id="{{cells[cell]}}Tr">
					<td class="col-xs-5 col-sm-7 tight bar-background">
						<span id='{{cells[cell]}}Prog' class="progress-bar"></span>
					</td>
					<td class="col-xs-1 col-sm-1 tight text-right">
						<span class="progressPercent" id="{{cells[cell]}}ProgText">0%</span>
					</td>
					<td class="col-xs-1 col-sm-1 tight centered">
						<input type='text' id="{{cells[cell]}}" value='' class="countInput" readOnly/>
					</td>
					<td class="col-xs-5 col-sm-3 tight text-left" id="{{cells[cell]}}Map">{{cell}} ({{keys[cell]}})</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="row mt centered counter">
			<p></p>
		</div>
		<!-- /container -->
	</section>
</div>

<div class="nonPrintable">
	<section id="Tips">
		<div class="container pt" id="help">
			<div class="row mt">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>Tips and Tricks</h1>
				</div>
			</div>
			<div class="row mt">
				<div class="col-md-4 centered">
					<i class="fa fa-cogs fa-5x fa-green"></i>
					<h3>How do I use this fancy thing?</h3>
				</div>
				<div class="col-md-4 centered">
					<i class="fa fa-keyboard-o fa-5x fa-green"></i>
					<h3>Keyboard layout</h3>
				</div>
				<div class="col-md-4 centered">
					<i class="fa fa-bug fa-5x fa-green"></i>
					<h3>Normalization issues</h3>
				</div>
			</div>
			<div class="row mt">
				<div class="col-md-4">
					<dl>
						<dt>Subtract cells</dt>
						<dd>
							<p>Press the "-" key or button to start subtracting cells. Press the "+" key or button to resume.</p>
						</dd>
						<dt>Manual edit</dt>
						<dd>
							<p>Press the "E" key or the "Edit" button to manually change the counts, press it again to resume. The
								<i class="fa fa-unlock"></i> icon on the edit button indicates you're in "Edit Mode"</p>
						</dd>
						<dt>Differential Name</dt>
						<dd>
							<p>In edit mode the name field is editable, when enter is pressed Diff-o-matic will exit edit mode.</p>
						</dd>
						<dt>Urine Eosinophils</dt>
						<dd><p>
							Pressing the "UEO" button will put you into Urine Eos mode. This allows you to do a
							200 cell count with eosinophils and others. The keymapping will change to the 2 key and 3 key, respectively.
							to switch back to differential mode press the "Diff" button.</p>
							</dd>
						<dt>Count more cells</dt>
						<dd>
							<p>This counter will let you count 100, 200 or 300 cells. For differentials the default
								is 100. Click the button will switch between those values. Urine eosinophils are set up
								to count 200 cells and the button is hidden until you switch back to differential mode. 
							</p>
						</dd>
					</dl>
				</div>
				<div class="col-md-4">
					<table class="table tight table-condensed">
						<thead>
							<tr>
								<th class="col-md-6 tight text-right">Cells</th>
								<th class="col-md-1"></th>
								<th class="col-md-5 tight text-left">Keys</th>
							</tr>
						</thead>
						<tbody>
							{% for cell in cells %}
							<tr class="tight">
								<td class="tight text-right">{{cell}}</td>
								<td class="tight text-center">
									<i class="fa fa-angle-double-right  fa-list"></i>
								</td>
								<td class="tight text-left">{{keys[cell]}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<hr>
					<ul class="fa-ul">
						<strong class="keylist">Modes</strong>
						<li>
							<span class="monoFont">R </span>
							<i class="fa fa-angle-double-right  fa-list"></i>Reset form
						</li>
						<li>
							<span class="monoFont">E </span>
							<i class="fa fa-angle-double-right  fa-list"></i>Edit Mode
						</li>
						<li>
							<span class="monoFont">D </span>
							<i class="fa fa-angle-double-right  fa-list"></i>Debug Mode
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<dl>
						<dt>What is this?</dt>
						<dd>
							<p>The progress bars to the right were designed to give normalized percentages for 200 cell counts. Using cutting edge mathematical formulas, advanced super computing power and an old magic eight ball, the Diff-o-Matic is capable of providing that value in real time!
							</p>
						</dd>
						<dt>DISCLAIMER:</dt>
						<dd>
							<p>In standard rounding rules it is common for numbers ending in 5 to be rounded up. However, because n.5 is exactly between its nearest integers, always rounding up will create a positive bias.</p>
							<p>In order to correct that bias the Diff-o-Matic uses a
								<strong>Round to Even </strong>method. This will round any number ending in .5 to the nearest even integer (e.g. 2.5 -> 2 .)
							</p>
							<p>Unfortunately, this will cause relative values of 0.5 to be rounded down to 0. The worlds top engineers, scientists, and barista have been working on this issue around the clock, a patch will be released shortly.</p>
						</dd>
					</dl>
				</div>
			</div>
			<!-- /row -->
		</div>
		<hr>
		<!-- /container -->
	</section>
	<section id="References">
		<!-- +++++ Reference material +++++ -->
		<div id="ref">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<!--<img src="header.png" alt="Stanley">-->
						<h1>Reference Material</h1>
						<p>Coming Soon:</p>
						<p>A list of resources to help with performing differentials.</p>
					</div>
					<!-- /col-lg-8 -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /ww -->
	</section>
	
</div>
{% endblock %}
