    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script> 

<![endif]--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/1.1.6/waypoints.min.js"></script>
    <!--[if !IE]>
<script src="{{ url_for('static', filename='js/hover.zoom.js')}}"></script>
<script src="{{ url_for('static', filename='js/hover.zoom.conf.js')}}"></script>
<![endif]--> 
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <!--MY edits-->
    <script>
        window.focused = "#FFD387";
    </script>
<!-- 	<script src="{{url_for('static', filename='js/Annoying.js')}}"></script> -->
    <script src="{{url_for('static', filename='js/counter.js')}}"></script>
    <link href="{{url_for('static', filename='css/counter.css')}}" rel="stylesheet">
    <audio id="tardis" src="tardis.wav" preload="auto"></audio>
    <!--THe color scheme used in this site can be found here: -->
    <!--http://colorschemedesigner.com/#3c41TrpDHw0w0-->
    <!--http://colorschemedesigner.com/#3c31TrpDHw0w0-->